<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Scooby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
  </div>

      <ion-grid >
          <ion-row class="titulo">
            <ion-col size="8" >
                <h1 >Scooby</h1>

              
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col class="rodape">
            <p>2020 &nbsp;&nbsp; 1h 34m</p>
            <h1>Sinopse</h1>
            <p>Scooby e a gangue enfrentam seu mistério mais desafiador de todos os tempos: um plano para libertar o cão fantasma Cerberus no mundo. 
              Enquanto eles correm para parar esse caopocalypse, a gangue descobre que Scooby tem um destino épico maior do que se imaginava.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  <div class="temps">
    <ion-button expand="block">Assistir &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"></ion-icon></ion-button>
  </div>
  </ion-content>
