<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Um Sonho De Liberdade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
  </div>

      <ion-grid >
          <ion-row class="titulo">
            <ion-col size="8" >
                <h1 >Um Sonho De Liberdade</h1>

              
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col class="rodape">
            <p>1994 &nbsp;&nbsp; 2h 22m</p>
            <h1>Sinopse</h1>
            <p>Em 1946, Andy Dufresne, um jovem e bem sucedido banqueiro, tem a sua vida radicalmente modificada ao ser condenado por um crime que nunca cometeu, o homicídio de sua esposa e do amante dela. Ele é mandado para uma prisão que é o pesadelo de qualquer detento, a Penitenciária Estadual de Shawshank, no Maine. Lá ele irá cumprir a pena perpétua. Andy logo será apresentado a Warden Norton, o corrupto e cruel agente penitenciário, que usa a Bíblia como arma de controle e ao Capitão Byron Hadley que trata os internos como animais. Andy faz amizade com Ellis Boyd Redding, 
              um prisioneiro que cumpre pena há 20 anos e controla o mercado negro da instituição.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  <div class="temps">
    <ion-button expand="block">Assistir &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"></ion-icon></ion-button>
  </div>
  </ion-content>
