<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Ursinhos Carinhosos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
 
      <ion-grid >
          <ion-row>
            <ion-col size="8" class="titulo">
                <h1 > Ursinhos Carinhosos </h1>

              
            </ion-col>
            <ion-col size="2" class="titulo">
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" class="titulo">
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col size="2" >
              <img class="classifica" src="assets/livre.png">
          </ion-col>
          <ion-col size="10" class="rodape">
            <p>1985 &nbsp;&nbsp; 2 Temporadas</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="sin">
      <h1>Sinopse</h1>
      <p>Venha conhecer este encantador e colorido mundo dos Ursinhos Carinhosos e sua turminha divertida. Descubra como estes graciosos e fofos ursinhos se tornaram tão especiais e porque têm símbolos mágicos em suas barriguinhas, presente da Grande Estrela dos desejos. 
        E participe desta fabulosa aventura no Reino da Fantasia, ajudando a proteger o mundo do malvado Coração Negro.
      </p>
    </div>
      <ion-grid>
        <ion-row >
        <ion-col size="6" >
          <ion-button routerLink="/irmaodo-jorel">Temp1</ion-button>
        
        </ion-col>
        <ion-col size="6" >
          <ion-button routerLink="/irmaodo-jorel">Temp2</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  </ion-content>
