.banner{
    background: url('https://image.tmdb.org/t/p/w533_and_h300_bestv2/hghUL5HWbY4MUftijlwTL16plXf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
    position: relative;
    padding: 15px;

    .titulo{
        
    
        h1{
            font-size: 20px;
            margin-top: 180px;
            font-weight: bold;
           
         }
}
}