<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Dilwale Dulhania Le Jayenge </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
  </div>

      <ion-grid >
          <ion-row class="titulo">
            <ion-col size="8" >
                <h1 > Dilwale Dulhania Le Jayenge</h1>

              
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col class="rodape">
            <p>1995 &nbsp;&nbsp; 3h 10m</p>
            <h1>Sinopse</h1>
            <p>Raj e Simran são dois jovens indianos vivendo em Londres que, acidentalmente, se conhecem durante uma viagem pela Europa. Eles se apaixonam, mas Simran está prometida a um indiano. 
              Raj não desanima e segue seu amor até a Índia, onde os dois tentam convencer a todos que precisam ficar juntos.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  <div class="temps">
    <ion-button expand="block">Assistir &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"></ion-icon></ion-button>
  </div>
  </ion-content>
