<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Ad Astra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
  </div>

      <ion-grid >
          <ion-row class="titulo">
            <ion-col size="8" >
                <h1 >Ad Astra</h1>

              
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col class="rodape">
            <p>2019 &nbsp;&nbsp; 2h 3m</p>
            <h1>Sinopse</h1>
            <p>Roy McBride é um engenheiro espacial, portador de um leve grau de autismo, que decide empreender a maior jornada de sua vida: viajar para o espaço, cruzar a galáxia e tentar descobrir o que aconteceu com seu pai, 
              um astronauta que se perdeu há vinte anos atrás no caminho para Netuno.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  <div class="temps">
    <ion-button expand="block">Assistir &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"></ion-icon></ion-button>
  </div>
  </ion-content>
