<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Broil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
  </div>

      <ion-grid >
          <ion-row class="titulo">
            <ion-col size="8" >
                <h1 >Broil</h1>

              
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col class="rodape">
            <p>2020 &nbsp;&nbsp; 1h 23m</p>
            <h1>Sinopse</h1>
            <p>
              Broil segue uma família disfuncional de demônios que competem para controlar o futuro de sua riqueza.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  <div class="temps">
    <ion-button expand="block">Assistir &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"></ion-icon></ion-button>
  </div>
  </ion-content>
