<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title> Episódios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item>
      <ion-label>Episódio 1   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 2   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 3   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 4   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 5   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 6   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 7   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 8   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 9   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Episódio 10   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline" ></ion-icon> </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
