<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Lei e Ordem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
  </div>

      <ion-grid >
          <ion-row class="titulo">
            <ion-col size="8" >
                <h1 > Lei e Ordem</h1>

              
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" >
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col size="2" >
              <img class="classifica" src="assets/seis.png">
          </ion-col>
          <ion-col size="10" class="rodape">
            <p>1999 &nbsp;&nbsp; 21 Temporadas</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  <div class="temps">
    <ion-button expand="block">Temporada 1</ion-button>

    <ion-list>
      <ion-item>
        <ion-label>Episódio 1  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"> </ion-icon>  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 2  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"> </ion-icon>   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 3   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="caret-forward-circle-outline"> </ion-icon>   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 4   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="caret-forward-circle-outline"> </ion-icon>  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 5   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="caret-forward-circle-outline"> </ion-icon>  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 6  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"> </ion-icon>  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 7  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="caret-forward-circle-outline"> </ion-icon>   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 8   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="caret-forward-circle-outline"> </ion-icon>   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 9   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="caret-forward-circle-outline"> </ion-icon>  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Episódio 10   &nbsp;&nbsp;  &nbsp;&nbsp;<ion-icon name="caret-forward-circle-outline"> </ion-icon>  &nbsp;&nbsp;  &nbsp;&nbsp; <ion-icon name="download-outline"></ion-icon></ion-label>
      </ion-item>
    </ion-list>
   
  </div>
  </ion-content>
