<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Simpsons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
 
      <ion-grid >
          <ion-row>
            <ion-col size="8" class="titulo">
                <h1 > Simpsons </h1>

              
            </ion-col>
            <ion-col size="2" class="titulo">
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" class="titulo">
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col size="2" >
              <img class="classifica" src="assets/doze.png">
          </ion-col>
          <ion-col size="10" class="rodape">
            <p>1989 &nbsp;&nbsp; 31 Temporadas</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="sin">
      <h1>Sinopse</h1>
      <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra.
        Homer trabalha como inspetor de segurança numa usina de energia nuclear.
        Marge tenta manter a paz em sua família. Bart é um travesso garoto de 10 anos.
         Lisa, 8, é a inteligente da família, que adora tocar saxofone e é vegetariana. 
         E a pequena Maggie conquista todos enquanto não larga sua chupeta. 
         E a série tem um rico, e muitas vezes estranho, universo de personagens que também habitam Springfield. 
         Com roteiros inteligentes, humor subversivo e divertidamente genial, a série faz piadas de si mesma e de todo mundo que aparecer em seu caminho.
      </p>
    </div>
      <ion-grid>
        <ion-row >
        <ion-col size="4" >
          <ion-button routerLink="/irmaodo-jorel">Temp1</ion-button>
        
        </ion-col>
        <ion-col size="4" >
          <ion-button routerLink="/irmaodo-jorel">Temp2</ion-button>
        </ion-col>
        <ion-col size="4" >
          <ion-button routerLink="/irmaodo-jorel">Temp3</ion-button>
        
        </ion-col>
      </ion-row>
        <ion-row >
          <ion-col size="4" >
            <ion-button routerLink="/irmaodo-jorel">Temp4</ion-button>
          </ion-col>
          <ion-col size="4" >
            <ion-button routerLink="/irmaodo-jorel">Temp5</ion-button>
          </ion-col>
          <ion-col size="4" >
            <ion-button routerLink="/irmaodo-jorel">Temp6</ion-button>
          </ion-col>
        </ion-row>
      
    </ion-grid>

  </div>
  </ion-content>

