<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-title>Gravity Falls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
 
      <ion-grid >
          <ion-row>
            <ion-col size="8" class="titulo">
                <h1 > Gravity Falls</h1>

              
            </ion-col>
            <ion-col size="2" class="titulo">
              <ion-icon name="thumbs-down-outline"></ion-icon>
            
            </ion-col>
            <ion-col size="2" class="titulo">
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-col>

          </ion-row>
      </ion-grid>

        <ion-grid>
          <ion-row>
          <ion-col size="2" >
              <img class="classifica" src="assets/dez.png">
          </ion-col>
          <ion-col size="10" class="rodape">
            <p>2012 &nbsp;&nbsp; 2 Temporadas</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="sin">
      <h1>Sinopse</h1>
      <p>Os gêmeos Dipper e Mabel ficam desapontados ao ter que passar o verão com seu tio-avô,
         mas a cidade onde ele vive acaba se revelando um lugar estranho e maravilhoso.
      </p>
    </div>
      <ion-grid>
        <ion-row >
        <ion-col size="6" >
          <ion-button routerLink="/irmaodo-jorel">Temp1</ion-button>
        
        </ion-col>
        <ion-col size="6" >
          <ion-button routerLink="/irmaodo-jorel">Temp2</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  </ion-content>